<p style="color: green"><%= notice %></p>

<%= render @job %>
<h2 class="text-xl font-bold">Description</h2>
<div class="prose max-w-none">
  <%= raw @job.description %>
</div>

<div>
  <%= link_to "Edit this job", edit_job_path(@job) %> |
  <%= link_to "Back to jobs", jobs_path %>

  <%= button_to "Destroy this job", @job, method: :delete %>
</div>
